$base-color: #c9d7db;
$color-text:rgba(black, 0.88);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: $base-color;
  img {
    width: 200px;  
  }
}